**Document No 3**
1. Built-In Functions
2. Built-In Methods Of List,Tuple,Set and Dictionary

**1. Built-In Functions**

abs() :  It Returns the absolute value of a number

In [1]:
b= abs(-5.25)
print(b)

5.25

bool() :Returns the boolean value of the specified object

In [6]:
a = bool(1)
print(a)

True

dict() :Returns a dictionary (Array)

In [8]:
h = dict(name = "Shivani", branch = "IT", country = "India")

print(h)

{'name': 'Shivani', 'branch': 'IT', 'country': 'India'}

enumerate() :Takes a collection (e.g. a tuple) and returns it as an enumerate object

In [10]:
X=("Red","Yellow","Blue")
Y=enumerate(X)
print(list(Y))

[(0, 'Red'), (1, 'Yellow'), (2, 'Blue')]

format(): It Formats a specific value

In [12]:
d= format(5,'%')
print(d)

500.000000%

In [14]:
f=format(3,'+')
print(f)

+3

frozenset() : Return frozenset object

In [15]:
q=["IT","E&TC","Electrical","Mechanical"]
r=frozenset(q)
print(r)

frozenset({'IT', 'Electrical', 'Mechanical', 'E&TC'})

hex() : converts number into hexadecimal value

In [16]:
w=hex(15)
print(w)

0xf

map() :Returns the specified iterator with the specified function applied to each item

In [17]:
def func(a):
  return len(a)

b=map(func,("red","yellow","green"))
print(b)

print(list(b))

<map object at 0x7f85fe8369d0>
[3, 6, 5]

ord() : Convert an integer representing the Unicode of the specified character

In [18]:
t=ord("s")
print(t)

115

reversed() : Returns a reversed iterator

In [20]:
d=["a","b","c","e"]
y=reversed(d)
for ele in y :
  print(ele)

e
c
b
a

sorted() : returns sorted list

In [22]:
h=("apple","orange","mango")
v=sorted(h)
print(v)

['apple', 'mango', 'orange']

super() : returns an object that represents the parent class

In [24]:
class Parent:
  def __init__(self,txt):
    self.message=txt

  def printmessage(self):
    print(self.message)

class Child(Parent):
  def __init__(self,txt):
    super().__init__(txt)
x= Child("hello")
x.printmessage()

hello

**2. Built-In Methods of List**

append() : Add an element at the end of the list

In [25]:
color =["red","white","pink","blue"]
color.append("black")
print(color)

['red', 'white', 'pink', 'blue', 'black']

copy() : Returns a copy of the list

In [26]:
fruit=["mango","cherry","apple"]
g=fruit.copy()
print(g)

['mango', 'cherry', 'apple']

extend() : Adds elements of the list to the end of current list

In [28]:
color=["red","blue","pink"]
cars=["BMW","ALTO","Ford"]
color.extend(cars)
print(color)

['red', 'blue', 'pink', 'BMW', 'ALTO', 'Ford']

pop() : Remove second element of list

In [29]:
a=["m","b","n","u"]
a.pop(2)
print(a)

['m', 'b', 'u']

remove() : Removes the first item with specifies value

In [30]:
b=[1,2,3,4,5]
b.remove(3)
print(b)

[1, 2, 4, 5]

sort(): Sorts the list alphabetically

In [31]:
c=[4,9,0,5,2]
c.sort()
print(c)

[0, 2, 4, 5, 9]

**3.Built-In methods of Tuple**

count() : Returns number of times a specifies value occurs in a tuple

In [32]:
tuple_ex=(2,4,6,8,2,9,10)
a=tuple_ex.count(2)
print(a)

2

index() : Search for the first occurence of the value 3, and returns its position

In [36]:
a=(2,5,7,8,3,7,2,5)
x=a.index(7)
print(x)

2

**4. Built-In methods of Set**

add() : Adds an element to the set

In [37]:
a={"a1","a2","b1","c1"}
a.add("c2")
print(a)

{'a1', 'c1', 'a2', 'c2', 'b1'}

clear() : Removes all the elements from the set

In [38]:
x={"a","b","c","d"}
x.clear()
print(x)

set()

discard() : Remove the specified item

In [39]:
v={1,2,3,4,5}
v.discard(3)
print(v)

{1, 2, 4, 5}

issuperset() : Returns whether this set contains another set or not

In [41]:
a={1,3,5,7}
b={5,7}
c=a.issuperset(b)
print(c)

True

symmetric_difference() : Returns a set with the symmetric differences of two sets

In [42]:
a={"x","m","g","n"}
b={"w","x","y","z"}
c=a.symmetric_difference(b)
print(c)

{'z', 'y', 'w', 'n', 'm', 'g'}

**Built-In methods of Dictionary**

get() : Returns the value of specified key

In [43]:
data={"name":"Shivani","Branch":"IT","Year":2020}
a=data.get("name")
print(a)

Shivani

pop() : Removes the element with specifies key

In [44]:
data1={"color":"Red","Fruit":"Mango"}
data1.pop("Fruit")
print(data1)

{'color': 'Red'}

values(): Returns list of all the values in the dictionary

In [45]:
a={"name":"Shivani","Hobby":"Singing"}
b=a.values()
print(b)

dict_values(['Shivani', 'Singing'])

items(): Returns a list containig a tuple for each key value pair

In [46]:
a={"name":"Shivu","Std":"TY"}
v=a.items()
print(v)

dict_items([('name', 'Shivu'), ('Std', 'TY')])

copy() : Returns copy of the dictionary

In [47]:
b={"color":"red","shape":"Triangle","size":"small"}
c=b.copy()
print(c)

{'color': 'red', 'shape': 'Triangle', 'size': 'small'}