***DOCUMENT 1 ***

1.   Iterating(for loop) using list,tuple,set and dictionary
2.   Membership Test(in,not in)using List,Tuple,Set and Dictionary
3.   Indexing using List and Tuple
4.   Negative Indexing using List and Tuple
5.   Slicing using List and Tuple

**ITERATING FOR LOOP USING LIST**

In [ ]:
list_ex=[2,4,6,8,20]

for ele in list_ex:
  print(ele)

2
4
6
8
20

**ITERATING FOR LOOP USING TUPLE**

In [ ]:
tuple_ex=("Shivani","Praful","Shah")

for ele in tuple_ex:
  print(ele)

Shivani
Praful
Shah

**ITERATING FOR LOOP USING SET**

In [ ]:
set_ex=set("SHIVANI")
for ele in set_ex:
  print(ele)

S
I
A
V
N
H

**ITERATING FOR LOOP USING DICTIONARY**

In [ ]:
dict_ex={"Name":"Shivani","Branch":"IT"}

for ele in dict_ex:
  print(ele)

Name
Branch

**Membership Test (In,not in) using List**

In [ ]:
a= 5
my_list=[2,4,6,8]
print(a in my_list)

False

In [ ]:
b=2
my_list=[1,3,4]
print(b not in my_list)

True

**Membership Test (In,not in) using Tuple**

In [ ]:
q= (15,20,25)
print(20 in q)

True

In [ ]:
r=(1,2,3)
print(3 not in r)

False

**Membership Test(In,not in)using Set**

In [ ]:
s={1,2,3,4,5}
print(3 in s)

True

In [ ]:
d={1,3,5,7}
print(1 not in d)

False

**Membership Test(In,not in)using Dictionary**

In [ ]:
a={"Apple","Mango","Banana"}
b={"Fruit1","Fruit2","Fruit3"}

print("Mango" in a)
print("Fruit1" not in b)

True
False

**Indexing in List**

In [ ]:
list_ex=["Shivani","Shah"]
print(list_ex.index("Shivani"))
list=["a","i","o","u"]
print(list.index("o"))

0
2

**Indexing in Tuples**

In [ ]:
Tuple_ex=("s","h","i","v","u")
print(Tuple_ex.index("u"))

4

**Indexing in Dictionary**

**Negative Indexing using List**

In [ ]:
a=["Sanjivani","College","Of","Engineering"]
print(a[-3])

College

**Negative Indexing using Tuple**

In [ ]:
B=("red","yellow","pink")
print(B[-2])

yellow

**Slicing List**

In [ ]:
lt=[1,3,5,7,9,10,4,2,6]
print(lt[:3])
print(lt[::])
print(lt[5:])
print(lt[2:7])
print(lt[2:8:2])

[1, 3, 5]
[1, 3, 5, 7, 9, 10, 4, 2, 6]
[10, 4, 2, 6]
[5, 7, 9, 10, 4]
[5, 9, 4]

**Slicing Tuple**

In [ ]:
tuple=(1,3,5,6,4,2,7,9,8)
print(tuple[2:5])
print(tuple[::])
print(tuple[:4])

(5, 6, 4)
(1, 3, 5, 6, 4, 2, 7, 9, 8)
(1, 3, 5, 6)

**Accessing Nested List using slicing**

In [54]:
a=[[1,2,3],[5,6,7],[8,9,0]]
print(a)
x=a[1:3]
print(x)

[[1, 2, 3], [5, 6, 7], [8, 9, 0]]
[[5, 6, 7], [8, 9, 0]]

**Accessing Nested Tuple using slicing**

In [55]:
tuple=((1,3,5),(6,4,2),(7,9,8))
print(tuple)
b=tuple[1:3]
print(b)

((1, 3, 5), (6, 4, 2), (7, 9, 8))
((6, 4, 2), (7, 9, 8))